/* Header */

header{
    color: rgb(0, 0, 0);
    background-color: aqua;
    height: 5rem;
    width: 100vw;

    position: fixed;
    top: 0;
}

.nav-header{
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 1.5%;
}

.left-header{
    border: dashed black 2px;
}

.right-header {
    border: dashed black 2px;
}

.nav-element{
    display: inline-block;
}

/* Jumbotron */

.jumbotron{
    background-color: cadetblue;
    margin-top: 5rem;
    text-align: center;
    padding-top: 2%;

    /* debug */
    height: 100%
}

.jumbotron-content{
    text-align: center;
    display: flex;
    justify-content: center;
}

.jumbo-text{
    width: 25%;
    border: dashed black 2px;

    /* debug */
    height: 20vh;
}

.jumbo-img{
    width: 75%;
    border: dashed black 2px;

    /* debug */
    height: 20vh;
}





/* Main */


main{
    margin-top: 5rem;
}